body {
	font-family:"Helvetica Nueue", Helvetica, Arial;
	background:url('bgrep.gif');
}

a {
    color: #002B54;
    cursor: pointer;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.clear {
    clear: both;
    display: block;
}

body {
	background-color:#ccc;
	background: url(demoassets/bg.jpg) no-repeat #000;
	background-position: 50% 50%;
	background-size: cover;
}

.container {
	width:800px;
	margin:0 auto;
	background-color: #fff;
	padding:20px;
	margin-top:40px;
	margin-bottom:40px;
	border: solid 1px #bcc8eb;
	border-top: none;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.container h1 {
	color:#002B54;
}

.container h2 {
	color:#002B54;
}

.container ul {
	margin-left:-20px;
}

.container ul li {
	margin-bottom:12px;
	list-style-type: square;
}

.option {
	color:#002B54;
}

.left {
	float:left;
	margin-right:90px;
}

.right {
	float:left;
}

.left a, .right a {
	border:0;
}

.container img {
	border:0;
}

.container p {
	font-size:15px;
	line-height:20px;
}